img.nothing
{
	border: 0px dotted green;
}

.five
{
	color: red
}

h3
{
	font-family: "berlin sans fb", monospace;
	font-size: 15pt;
}

p.six
{
	background-color: #ff0000;
	margin: 0 0 0 0;
}

h2.seven
{
	background-color: #656565;
	margin: 0 0 0 0;
	
}

h2 
{	
    color: red;
	background-color: #ffffff;
	text-align: center;
	font-family: "berlin sans fb", monospace;
	font-size: 63pt;
	
}

ul.ten
{
	color: black;
	font-family: "berlin sans fb", monospace;
	font-size: 26pt;
	list-style-type: disc;
	text-align: justify;
}

li.nine
{
	color: red;
	list-style-type: disc;
	border-right: none;
	margin: 0 0 0 0;
}

ul.team 
{
	color: red;
	font-family: "berlin sans fb", monospace;
	font-size: 	26pt;
	list-style: bullets;
		
}

h2.eight
{
	color: white;
	background-color: red;
	font-size: 60pt;
	text-align: center;
	margin: 0 0 0 0;
	
}

h2.center 
{
	color: white;
	background-color: #ff0000;
	font-size: 44pt
}

hr
{
	border-top: 60px solid #ff0000;
	margin: 0 0 0 0
}

h1 
{	
	line-height: 150pt;
    color: white;
	font-family: "berlin sans fb", monospace;
	text-align: center;
	font-size: 85pt;
	background-image: url("vs.jpg");
	background-size: 1400px, 800px;
    background-repeat: no-repeat;
	margin: 0 0 0 0;
}
 	
p 
{	
    color: black;
	background-color: #ffffff;
	text-align: justify;
	font-family: "berlin sans fb", fantasy;
	font-size: 26pt;
} 
	
img 
{	
    padding: 20px;
	border: 20px dotted green;
	margin: 40px 10px 40px 10px; 
}
	
h3 
{	
    color: black;
	background-color: #d8da3d;
	font-size: 13pt;
}

<!-- Everything below this is for the navigation bar. -->
a
{
	color: green;
}

ol 
{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

li 
{
    display: inline;
}

li 
{
    float: left;
}

a 
{
    display: block;
    padding: 8px;
    background-color: #ffffff;
	color: black
}

ol 
{
    	background-color: #ffffff;
	color: black
}

ol 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #000000 (black) on hover */
li a:hover 
{
    background-color: #000000;
	color: white
}

li a:hover:not(.active) 
{
    background-color: #000000;
}

.active 
{
    background-color: #d8d8d8;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li 
{
    border-right: 1px solid #000000;
}

li:last-child {
    border-right: none;
}
